@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

$blue: #1eb7ee;
$teal:#73d2f0;
$gray:#595959;
$black:#2f2f2f;
$white:#fff;
$levy:#e7efec;

*{
  box-sizing: border-box;
  outline:none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height:  1;
  background: $levy;
  color: $gray;
  padding: 40px 0 20px;
}

main{
  padding: 0 15px;
}

.search-flight{
  max-width: 800px;
  width: 100%;
  margin: 0 auto 40px;

  &__title{
    font-size: 70px;
    color: $black;
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__form{
    display: flex;
    position: relative;
    height: 80px;
  }
  
  &__label{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover{
      color:$blue;
    }
  }

   &__icon.MuiSvgIcon-root{
     font-size: 44px;
   }
  
  &__input{
    display: block;
    border: none;
    font-size: 24px;
    flex-basis: 75%;
    padding: 0 0 0 70px;

    @include placeholder {
      color: #b8b9b9;
    }
  }
  
  &__btn{
    flex-basis: 25%;
    border-radius: 0 90px 0 0;
    border: none;
    background: $blue;
    color: $white;
    text-align: left;
    padding: 0 20px;
    font-size: 26px;
    font-weight: 700;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

    &:hover{
      border-radius: 0 40px 0 0;
    }
  }
}

.flights-list{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;

  &__tabs{
    display: flex;
  }

  &__tab-btn{
    flex: 1 1 auto;
    cursor: pointer;
    position: relative;
    background: $teal;
    color: $white;
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    display: flex;
    align-items: center;

    &:hover{
      background: $blue;
    }
  }
  
  &__tab-btn_arrivals{
    margin-left: -60px;
    border-radius: 60px 60px 0 0;
    padding-left: 150px;
  }
  
  &__tab-btn_departures{
    margin-right: -60px;
    border-radius: 60px 60px 0 0;
    justify-content: flex-end;
    padding-right: 150px;
  }

   &__tab-btn.active{
    background: $white;
    color: $blue;
    z-index: 1;
   }

   &__icon.MuiSvgIcon-root{
     font-size: 44px;
   }

   &__table-wrapper{
    padding-top: 50px;
    background: $white;
   }
   
}

.flights-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  &__header tr th {
    padding-bottom: 10px;
  }

  &__header tr th:first-child {
    text-align: center;
  }

  &__airline-logo{
    display: flex;
    align-items: center;
  }

  &__airline-icon{
    height: 40px;
    display: block;
    padding-right: 10px;
  }
}

td {
  padding: 20px 0;
}

tbody tr:nth-child(odd) {
  background: $levy;
}

tbody tr td:first-child {
  text-align: center;
}

