@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #e7efec;
}

main{
  padding: 0 15px;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

.search-flight{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  &__title{
    font-size: 70px;
    color: #2f2f2f;
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__form{
    height: 80px;
    display: flex;
    position: relative;
  
  }

  &__icon {
    display: block;
    position: absolute;
    color: #b8b9b9;
    top: 0;
    bottom: 0;
    left: 13px;
    margin: auto;
  }

  &__input{
    // color: #b8b9b9;
    outline:none;
    width: 100%;
    display: block;
    border: none;
    font-size: 24px;
    flex-basis: 70%;
    padding: 0 0 0 70px;
    @include placeholder {
    color: #b8b9b9;
  }
  }
  
  &__btn{
    flex-basis: 30%;
    border-radius: 0 90px 0 0;
    border: none;
    background: #1eb7ee;
    color: #fff;
    text-align: left;
    padding: 0 20px;
    font-size: 26px;
    font-weight: 700;
  }
}



